
AllCops:
  Exclude:
    - 'bin/**/*'
    - 'db/**/*'
    - 'node_modules/**/*'
    - '**/vendor/**/*'
    - '**/vendor/**/.*'
    - '.git/**/*'
    - '**/schema.rb'

  DefaultFormatter: progress
  DisplayCopNames: true
  ExtraDetails: true
  # Disable new cops by default since they'll cause noise on version upgrades.
  # We can always enable them later.
  NewCops: disable
  SuggestExtensions: false

Rails:
  Enabled: true

require:
  - rubocop-rspec
  - rubocop-rails

inherit_from:
  - rubocop-layout.yml
  - rubocop-lint.yml
  - rubocop-metrics.yml
  - rubocop-rspec.yml
  - rubocop-rails.yml
  - rubocop-style.yml

